/***************************************************************************************
 * Description: advanced-colors.css - This CSS file will serve as the presentation layer
 *              for the advanced-colors.html file.
 * Date: 2018-12-17
 * Author: Leo Gasteiger
 ***************************************************************************************/

 @import url("https://fonts.googleapis.com/css?family=VT323");

* {
  margin: 0;
  padding: 0;
} /* end * */

body {
  font: 100% arial, helvetica, sans-serif;
  background: #ccc;
} /* end body; Specificity value=> 1 */

#heading {
  text-align: center;
} /* end #heading; Specificity value=> 100 */

h1 {
  padding: 25px;
  font-family: "VT323", monospace;
  color: rgba(0, 0, 0, 0.8);
} /* end h1; Specificity value=> 1 */

h1 + p {
  font-weight: bold;
  font-style: italic;
  padding: 20px 0 25px 0;
} /* end h1 + p; Specificity value=> 1 + 1 = 2 */

#content {
  margin: 0 20px 0 20px;
} /* end #content; Specificity value=> 100 */

#content h2 {
  background: hsla(0, 75%, 75%, 0.5);
} /* end #content p; Specificity value=> 100 + 1 = 101 */

#content p {
  color: hsla(36, 100%, 50%);
  margin: 10px 0 0 0;
  text-decoration: underline;
} /* end #content p; Specificity value=> 100 + 1 = 101 */

footer {
  text-align: center;
} /* end footer; Specificity value=> 1 */

footer figure {
  padding: 140px 0 20px 0;
} /* end footer figure */

footer p {
  font-size: 12px;
} /* end footer p; Specificty value=> 1 + 1 = 2 */